body{
	background-color:#f4f4f4;
	color:#555;
	font-family: sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:coral;
	color:#fff;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase{
	background-image:url('../images/images.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
	list-style-image: none;
}
#showcase1{
	background-image:url('../images/images1.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
	list-style-image: none;
}
#showcase2{
	background-image:url('../images/images2.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
	list-style-image: none;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}


#table2 th, td {
  padding: 15px;
  text-align: left;
}


#sidebar{
	float:left;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}


.button{
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:red;
	color:#fff;
}



.button2:hover {

	 background-color: white;
  color: black;
  border: 50px solid #4CAF50;

}


.categories ul{

	padding right: 10px;
	text-align: justify-all;
	
}

.categories h2{
	text-align:center;
}
							



.my-list li:first-child{
	background: red;
}

.my-list li:last-child{
	background: blue;
}

.my-list li:nth-child(5){
	background: yellow;
}

.my-list li:nth-child(even){
	background: grey;
}


@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}


/*# Traversy Media (2017). CSS Crash Course. 
Available at: https://www.youtube.com/watch?v=yfoY53QXEnI.*/